<!DOCTYPE html>
<html>
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title th:text="${metaTitle} ? ${metaTitle} : 'dynForms' "></title>
    <link rel="stylesheet" href="/css/entireframework.min.css"/>
    <link th:each="css : ${cssFiles}" rel="stylesheet" th:href="@{/css/} + ${css}" />
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<!-- top menu -->
<span  th:fragment="menu">
    <nav class="nav" tabindex="-1" onclick="this.focus()">
        <div class="container">
            <a class="pagename current" href="#">Min</a>
            <a href="#">One</a>
            <a href="#">Two</a>
            <a href="#">Three</a>
        </div>
    </nav>
    <button class="btn-close btn btn-sm">×</button>
</span>
<!-- //top menu -->

</body>
</html>