<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">


    <div class="row">
        <div class="col c3">


            <div id="projectTree"></div>

        </div>
        <div class="col c9">



            <table id="datatable" class="display" cellspacing="0" border="1" width="100%">
                <thead><tr></tr></thead>
            </table>




        </div>
    </div>

</div>
</body>
</html>